
		body {
			background-color: whitesmoke;
		}

		div.tooltip {
			position: absolute;
			max-width: 300px;
			padding: 3px 6px;
			color: grey;
			font-family: 'Droid Sans Mono', monospace;
			font-size: .7em;
			background: whitesmoke;
			border: 1px solid grey;
			border-radius: 3px;
			pointer-events: none;
		}

		#map-wrapper {

		}

		#spinner-wrapper {
			width: 100%;
			height: 100%;
			background-color: green;
			display: none;
		}

		.state {
			stroke-width: 1;
		}

		/*search widget*/
		#search-widget-wrapper {

		}

		/*modal about this map content*/

		.modal-content {
			font-family: Montserrat, sans-serif;
			color: #696969;
			font-size: .8em;
			background-color: #ffffff;
			padding: 20px;

			/*-moz-border-radius: 10px;
	 		-webkit-border-radius: 10px;
	 		-khtml-border-radius: 10px;
	 		border-radius: 10px;*/
		}

		.modal-content h1 {
			color: #000000;
			font-weight: bold;
			font-size: 1.2em;
			margin-bottom: .6em;
		}

		.modal-content h2 {
			color: #000000;
			font-weight: bold;
			font-size: 1em;
			margin-bottom: .6em;
		}

		.modal-content p {
			margin-bottom: .6em;
		}

		.modal-content a {
			color: #696969;
			text-decoration: underline;
		}

		.modal-content li {
			display: inline;
			padding-right: 1em;
		}

		.modal-content ul {
			padding-bottom: 1em;
		}

		#about-map-img-wrapper {
			text-align: center;
		}

		#about-map-img-wrapper img{
			height: 150px;
		}

		#about-sig {
			text-align: right;
			margin-right: 50px;
		}

		.about-examples {
			margin: 10px;
		}

		.about-examples div {
			padding: 0;
		}

		#births {
			font-family: Montserrat, sans-serif;
			font-size: 1em;
			text-anchor: middle;
		}

		.swatch-label {
			font-family: 'Droid Sans Mono', monospace;
			fill: #000000;
			fill-opacity: .9;
			font-size: .65em;
			text-anchor: end;
		}

		.legend-swatch {
			stroke: #696969;
			stroke-width:.3;
		}

		/*headshot bullets*/
		div.headshot
		{
			margin-bottom: 1px;
		}

		span.effect
		{
			height: 38px;
			width: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0.25em;
			margin-right: 10px;
		}
		span.fdr
		{
			background: url('../images/fdr_30x38.png');
		}
		span.jfk
		{
			background: url('../images/jfk_30x38.png');
		}
		span.elvis
		{
			background: url('../images/elvis_30x38.png');
		}
		span.streisand
		{
			background: url('../images/streisand_30x38.png');
		}
		span.keifer
		{
			background: url('../images/keifer_sutherland_30x38.png');
		}
		span.channing
		{
			background: url('../images/channingtatum_30x38.png');
		}
		span.luke_leia
		{
			width: 57px;
			background: url('../images/leia_luke_57x38.png');
		}

		#about-nmp {
			height: 30px;
		}

		/*-----------------------------------*/

		.hero .container
		{
			width: 95%;
		}

		.column {
			/*border: 1px solid #696969;*/
		}

		.section {
			padding-top: 12px;
			padding-bottom: 12px;
		}

		.legend {
			border-left: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			background-color: #ffffff;
		}

		.boygirl {
			justify-content: center !important;
		}

		li {
			text-align: left !important;
		}

		#search-icon, #random-icon {
			font-size: 1.6em;
			cursor: pointer; cursor: hand;
			vertical-align: sub;
		}

		#search-icon {

		}

		#random-icon {

		}

		#bar-chart-wrapper {
			font-size: 0;
			margin: 15px 12% 3px 12%;
		}

		#cells-wrapper {
			margin: 0 12% 0 12%;
		}

		.swatch-label {
			font-family: 'Droid Sans Mono', monospace;
			fill: #000000;
			fill-opacity: .9;
			font-size: .5em;
			text-anchor: end;
		}

		.legend-swatch {
			stroke: #696969;
			stroke-width: .1;
		}

		#slider-wrapper {
			margin: 0 12% 0 12%;
			font-size: 0;
		}

		#slider-year {
			margin-top: 0;
			width: 100%;
      vertical-align: middle;
		}

		#min-year-label, #max-year-label {
			font-size: .8em;
		}

    #min-year-label {
      margin-left: 12%;
      float: left;
    }

    #max-year-label {
      margin-right: 12%;
      float: right;
    }

		.name-input {
			height: 40px;
			font-family: 'Montserrat', sans-serif;
			padding: 0;
			border: 0;
			margin: 3px 0 3px 0;
			text-align: center;
			font-size: 1em;
			font-weight: 600;
			cursor: pointer; cursor: hand;
		}

		.name-input-edit {
			height: 40px;
			padding: 0 0 0 5px;
			margin: 3px 0 3px 0;
			border: 1px solid #696969;
			font-size: 1em;
			cursor: pointer; cursor: hand;
		}

		.name-search-column, .year-column, .births-column, .since-column, .bar-chart-column, .slider-column, .map-column {
			padding: 0;
			text-align: center;
		}

		.name-search-column {
			white-space: nowrap;
		}

		.boygirl-switch-column, .bar-chart-column, .cells-column, .slider-column {
			padding: 0;
		}

		.slider-label-column {
			padding:0 0 25px 0;
		}

		#year-wrapper, #births-wrapper, #since-wrapper {
			font-family: Montserrat, sans-serif;
			color: #000;
		}

		#year-wrapper {
			font-family: 'Droid Sans Mono', monospace;
			font-weight: 800;
			font-size: 1.6em;
			vertical-align: sub;
		}

		#births-wrapper {
			font-size: 1.3em;
		}

		#since-wrapper {
			font-size: 1em;
		}

		.icon-fire {
			font-size: 1.2em;
		}

		.legend-column {
			/*margin-top: auto;*/
		}

		#about-legend-wrapper {
			font-size: .8em;
			text-align: center;
		}

		.about-link-legend {
			color: #696969;
			text-decoration: underline;
		}

		.about-link-header {
			color: #ffffff;
			text-decoration: underline;
		}

		#map-footer-column, #map-column {
			background-color: #ffffff;
		}

		#map-column {
			border-right: 1px solid #cccccc;
		}

		#map-footer-wrapper {
			font-size: .6em;
			text-align: right;
		}

		#map-footer-wrapper a {
			color: #696969;
			text-decoration: underline;
		}

		.footer-content {
			color: #fff;
			font-size: .8em;
		}

		.footer-content a {
			color: #fff;
			text-decoration: underline;
		}

		.navbar-item {
			font-size: 1.5em;
			font-weight: bold;
			opacity: 1;
			color: rgba(255, 255, 255, 1) !important;
		}

		.about-link-header {
			font-size: .9em;
			font-weight: normal;
		}

		@media screen and (max-width: 920px) {

			#map-column {
				border-left: 1px solid #cccccc;
			}

			.swatch-label {
				font-size: .4em;
			}

			#min-year-label, #max-year-label {
				font-size: 1.2em;
			}

			.name-input {
				font-size: 2em;
				height: 60px;
			}

			.name-input-edit {
				font-size: 2em;
				height: 60px;
			}

			#search-icon, #random-icon {
				font-size: 2.2em;
			}
		}

		@media screen and (max-width: 700px) {
			.navbar-item {
				font-size: 1.2em;
			}
		}

		@media screen and (max-width: 575px) {

			.name-input {
				font-size: 1.1em;
				height: 60px;
			}

			.name-input-edit {
				font-size: 1.1em;
				height: 60px;
			}

			#search-icon, #random-icon {
				font-size: 1.5em;
			}
		}

		@media screen and (max-width: 538px) {
			.navbar-item {
				font-size: .8em;
			}
		}

		@media screen and (max-width: 360px) {
			.navbar-item {
				font-size: .65em;
			}
		}
